<%# <form action="???" data-turbo="false">
  <input type="text" name="???">
  <input type="submit" value="Ask!">
</form>
<h1>Ask Your Question</h1> %>
<!-- app/views/coach/answer.html.erb -->
<h1>Your Question:</h1>
<p><%= params[:question] %></p>
<form action="answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

<h2>Coach's Answer:</h2>
<p><%= @answer %></p>

<%= link_to "Ask another question", ask_path %>
